.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 260px;
  background-color: #198ae1;

  padding-left: 33px;
  padding-right: 27px;
  padding-top: 28px;
  padding-bottom: 20px;

  color: #fff;

  text-align: right;

  &__logo {
    display: inline-block;
  }

  &__week-day {
    font-size: 20px;
  }
  &__date {
    font-size: 20px;
  }

  &__bottom {
    text-align: start;

    &__grad {
      font-size: 34px;
    }
    &__location {
      font-size: 20px;
    }
  }
}
