.dashboard {
  width: calc(100% - 240px);
  padding: 30px;

  &--small {
    width: calc(100% - 240px - 290px);
  }

  &__wrapper-visitors {
    display: grid;
    grid-template-columns: 2.05fr 1fr;
    gap: 17px;
  }
  &__visitors {
    border: 1px rgb(228, 228, 228) solid;
    height: 540px;
    padding: 1px;
    padding-top: 60px;
  }
  &__top-order-wrapper {
    margin-top: 20px;
  
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }

  &__order {
    border: 1px rgb(228, 228, 228) solid;
    padding: 1px;
  }
}
