.comments {
  height: 370px;

  padding-left: 35px;
  padding-top: 40px;
  padding-right: 29px;

  border: 1px rgb(228, 228, 228) solid;
  background-color: #fff;

  &__title {
    margin-bottom: 30px;

    color: #6b6a6d;
    font-weight: normal;
    font-size: 15px;
  }
}

@media (max-width: 1162px) {
  .comments {
    height: 600px;
  
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 29px;
  
  
    &__title {
      margin-bottom: 30px;
  
      color: #6b6a6d;
      font-weight: normal;
      font-size: 12px;
    }
  }
}
