.nav {
  position: sticky;
  top: 0;

  padding-top: 17px;

  &__help-support {
    position: relative;
    display: flex;
    margin-top: 55px;

    color: white;
    text-decoration: none;

    &__img {
      margin-right: 20px;
      margin-left: 30px;
    }
    
    &::before {
      position: absolute;
      top: -54px;
      content: " ";
      height: 1px;
      width: 100%;
      background-color: #313131;
    }
  }
}
